<script>
!function(g,u,c,C,i){g.GoogleAnalyticsObject=c;g[c]||(g[c]=function(){
(g[c].q=g[c].q||[]).push(arguments)});g[c].l=+new Date;C=u.createElement('script');
i=u.scripts[0];C.src='//www.google-analytics.com/analytics.js';
i.parentNode.insertBefore(C,i)}(window,document,'ga');

ga('create', 'UA-76467706-8', 'auto');
ga('send', 'pageview');
</script>
