@import 'partials/create';
@import 'partials/results';
@import 'vendor/fullcalendar';

.fc-scroller {
  overflow-x: visible !important;
}

.codeInput{
  box-sizing: border-box;
  width: 0px;
  margin: 0px;

}
