<!DOCTYPE html>
<html>
<head>
  <title>WhenIsGucci: Invited to Event</title>
</head>
<body>

  <style>
  * {
    font-family: Helvetica, Arial, sans-serif;
  }

  .wrap {
    max-width: 600px;
    padding: 16px;
    border: 3px solid #000;
    margin-left: auto;
    margin-right: auto;
  }
  </style>

  <div class="wrap">
    <h1>WhenIsGucci</h1>

    <p>Hi,</p>

    <p>You've been invited to an event!</p>

    <p>Click the link below to send the event creator the times that work for you.</p>

    <p><a href="https://gucci4.me/{{ eventCode }}">https://gucci4.me/{{ eventCode }}</a></p>

    <p>Thanks,<br><em>WhenIsGucci</em></p>
  </div>

</body>
</html>
