<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>whenisgucci</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-success is-fullheight">
      <!-- Title section -->
      <section class="section">
        <div class="container is-fluid">
          <h1 class="title">
            When Is Gucci
          </h1>
          <p class="subtitle">
            Get your schedule on
          </p>
        </div>
      </section>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item">
                From
              </a>
              <a class="navbar-item">
                To
              </a>
              <a class="navbar-item">
                View
              </a>
            </div>
            <div class="navbar-end">
              <a class="navbar-item">
                Create & Send
              </a>
            </div>
          </div>
        </div>
      </nav>
      <div class="hero-body">
        <!-- Main calendar section -->
        <section class="section">
        </section>
      </div>
    </section>
    <script src="/js/create.js"></script>
  </body>
</html>
