<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>whenisgucci</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>

  </head>
  <body>
    <section class="is-success">
      <!-- Title section -->
      <section class="section">
        <div class="container is-fluid">
          <h1 class="title">
            When Is Gucci
          </h1>
          <p class="subtitle">
            Get your schedule on
          </p>
        </div>
      </section>
      <nav class="navbar is-light">
        <div class="container">
          <div class="navbar-brand">
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" id="from-date">
                From
              </a>
              <input type="date" class="animated nav-datepicker" id="from-datepicker">
              <a class="navbar-item" id="to-date">
                To
              </a>
              <input type="date" class="animated nav-datepicker" id="to-datepicker">
     <!--          <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  View
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    30 min
                  </a>
                  <a class="navbar-item">
                    60 min
                  </a>
                  <a class="navbar-item">
                    1 day
                  </a>
                </div>
              </div> -->
            </div>
            <div class="navbar-end">
              <a class="navbar-item" id="create-send-button">
                Create & Send
              </a>
            </div>
          </div>
        </div>
      </nav>
      <div class="modal" id="no-title-modal">
        <form id="modal-form">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Please Enter an Event Title!</p>
            <button type="button" class="delete" id="close-modal-no-title" aria-label="close"></button>
          </header>
        </div>
        </form>
      </div>
      <div class="modal" id="create-send-modal">
        <form id="modal-form">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Create & Send</p>
            <button type="button" class="delete" id="close-modal" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <div class="content">
              <h1>Event Summary</h1>
                <div class="columns">
                  <div class="column is-narrow">
                    <h4>Event Title:</h4>
                  </div>
                  <div class="column is-narrow" >
                    <h5 class="title"></h5>
                  </div>
                  <div class="column"></div>
                </div>
                <div class="columns">
                  <div class="column is-narrow">
                    <h4>View Start Date:</h4>
                  </div>
                  <div class="column is-narrow startDate"></div>
                  <div class="column is-narrow">
                    <h4>View End Date:</h4>
                  </div>
                  <div class="column is-narrow endDate"></div>
                </div>
                <div class="columns">
                  <div class="column is-narrow" style="height: 40px;">
                    <h4>Times Selected:</h4>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-narrow"><ol class="freeTimeStart"></ol></div>
                </div>
              <h1 style="margin-top:0px;">Enter Your Email</h1>
              <p>We'll need your email to create an event, make sure you can edit events, gather repsonses from your invitees, and validate event ownership</p>
              <input class="input" id="creator-email" type="email" required="true"></input>
              <h1>Enter Your Receiver's Email</h1>
              <p>These will be all the lovely people that you want to see what times work for! Keep in mind your guests will still have to respond before you can call your event good!</p>
              <input class="input" id="invited-to-email" type="email" multiple="true"></input>
          </section>
          <footer class="modal-card-foot">
            <input type="submit" class="button is-success" value="Save changes">
            <input type="button" class="button" id="cancel-modal" value="Cancel">
          </footer>
        </div>
        </form>
      </div>
      <div class="modal" id="save-success-modal">
        <form id="modal-form">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Your Event Has Been Created!</p>
            <button type="button" class="button is-link" id="newEvent">New Event</button>
          </header>
          <section class="modal-card-body">
            <div class="content">
              <div class="columns">
                <div class="column is-narrow columnSave" style="padding-right:0px;">
                  <h4 style="margin-bottom:0px">View Event Results: </h4>
                  <a id="eventLink"></a>
                </div>
                <div class="column columnSave">
                  <h4 style="margin-bottom:0px">Link to share:</h4>
                  <a id="sendLink"></a>
                  <button type="button" class="copy-btn button popup" data-clipboard-target="#sendLink">
                    <span class="popup-text" id="myPopup">Copied!</span>
                    <i class="fas fa-copy" alt="Copy to clipboard"></i>
                  </button>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <h4>Event Code: </h4>
                  <h6 id="eventCode"></h6>
                  <button type="button" class="copy-btn button popup" data-clipboard-target="#eventCode">
                    <span class="popup-text" id="myPopup2">Copied!</span>
                    <i class="fas fa-copy" alt="Copy to clipboard"></i>
                  </button>
                </div>
                <div class="column">
                  <h4>Your Email: </h4>
                  <p id="creator"></p>
                </div>
              </div>
              <div class="columns">
                <div class="column is-narrow">
                  <h4>People The Event Was Sent To: </h4>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <textarea class="textarea sentTo" type="text" readonly></textarea>
                </div>
              </div>
              <h1 style="margin-top:0px;">Event Created Summary</h1>
                <div class="columns">
                  <div class="column is-narrow">
                    <h4>Event Title:</h4>
                  </div>
                  <div class="column is-narrow" >
                    <h5 class="title"></h5>
                  </div>
                  <div class="column"></div>
                </div>
                <div class="columns">
                  <div class="column is-narrow">
                    <h4>View Start Date:</h4>
                  </div>
                  <div class="column is-narrow startDate"></div>
                  <div class="column is-narrow">
                    <h4>View End Date:</h4>
                  </div>
                  <div class="column is-narrow endDate"></div>
                </div>
                <div class="columns">
                  <div class="column is-narrow" style="height:40px;">
                    <h4>Times Selected</h4>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-narrow"><ol class="freeTimeStart"></ol></div>
                </div>
            </div>
          </section>
          <footer class="modal-card-foot">
          </footer>
        </div>
        </form>
      </div>
      <div class="hero-body">
        <!-- Main calendar section -->
        <section class="section">
          <div class="columns">
            <div class="column"></div>
            <div class="column">
              <label class="label">Enter:</label>
              <div class="control">
                <input id="event-title" class="holo-input" type="text" placeholder="Event Name"></input>
              </div>
              <p class="help">This is the title of your event</p>
              </div>
              <div class="column"></div>
            </div>
        <div id="calendar"></div>
        </section>
        <div id="calendar"></div>
        </section>
      </div>
    </section>
    <script src="/js/create.js"></script>
  </body>
</html>
