<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>whenisgucci</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-head">
        <div class="container">
          <article class="message is-danger" style="margin-top: 1rem">
            <div class="message-body">
              <p>
                <strong>Note!</strong>
                This app is released as a beta-level product.
                Features may be added, removed, or altered without warning.
                Stability cannot be guaranteed.
              </p>
            </div>
          </article>
        </div>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            WhenIsGucci
          </h1>
          <p class="subtitle">
            Like whenisgood, but <em>gucci</em>.
          </p>
          <div class="field">
            <div class="control has-text-centered">
              <a href="/create" class="button">Create Event</a>
            </div>
          </div>

          <div class="field has-addons" style="justify-content: center">
            <div class="control codeButton">
              <a class="button" class="button">Enter Code</a>
            </div>
            <div class="control codeInput">
              <input class="input" id="inputCode" onkeydown="submitEventCode(this)" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <div class="container has-text-centered">
          <small>Made with &lt;3 by <a href="/humans.txt">humans</a></small>
          |
          <small>v{{ VERSION }}</small>
        </div>
      </div>
    </section>
    <div class="modal" id="invalid-id-modal">
      <form id="modal-form">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title" id="id-header"></p>
          <button type="button" class="delete" id="close-modal-id" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="content">
            <h3 id="invalid-title"></h3>
            <p id="invalid-msg"></p>
          </div>
        </section>
        <footer class="modal-card-foot">
        </footer>
      </div>
      </form>
    </div>
    <div class="modal" id="invalid-code-modal">
      <form id="modal-form">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Invalid Event Code!</p>
          <button type="button" class="delete" id="close-modal" aria-label="close"></button>
        </header>
      </div>
      </form>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
