<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>whenisgucci</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            WhenIsGucci
          </h1>
          <p class="subtitle">
            Like whenisgood, but <em>gucci</em>.
          </p>
          <div class="field">
            <div class="control has-text-centered">
              <a href="#0" class="button">Create Event</a>
            </div>
          </div>

          <div class="field has-addons" style="justify-content: center">
            <div class="control">
              <a href="#0" class="button">Enter Code</a>
            </div>
            <div class="control">
              <input class="input" type="text">
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
